#################################################
# Ollama Configuration ##########################
#################################################
OLLAMA_URL=http://host.containers.internal:11434
OLLAMA_CHAT_MODEL=llama3.2

#################################################
# ESP32 Configuration ###########################
#################################################


#################################################
# API Configuration #############################
#################################################
API_HOST=192.168.0.250
API_PORT=5000
API_WEBSOCKET_PATH=/ws/esp32

# audio stream is split into 2 seconds of audio at 16kHz, 16-bit PCM and sent to the transcription model
TRANSCRIPTION_CHUNK_SIZE=64_000
# glide audio stream every 1 second of audio, to avoid missing words in the transcription cut
TRANSCRIPTION_WINDOW_SIZE=32_000
TRANSCRIPTION_MODEL=base

# Signals name about client and api state to synchronize async tasks
# - signal telling that the client started recording audio stream
SIGNAL_RECORDING_START=/RECORDING START
SIGNAL_RECORDING_END=/RECORDING END
# - start transcription of the audio stream
SIGNAL_TRANSCRIPTION_START=/TRANSCRIPTION START
SIGNAL_TRANSCRIPTION_END=/TRANSCRIPTION END
# - start sending ai textual answer to the client
SIGNAL_AI_TEXT_START=/AI TEXT START
SIGNAL_AI_TEXT_END=/AI TEXT END
# - start sending ai audio answer to the client
SIGNAL_AI_TTS_START=/AI TTS START
SIGNAL_AI_TTS_END=/AI TTS END
# - signal telling to the client that the api websocket connection is closing
SIGNAL_WEBSOCKET_CLOSE=/WEBSOCKET CLOSE

# "en" or "fr" or "auto", The voice transcriptor can detect the language automatically if set to "auto"
VOICE_LANGUAGE=auto


#################################################
# POSTGRES Configuration ########################
#################################################
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_DB=ai_context
POSTGRES_USER=admin
POSTGRES_PASSWORD=


#################################################
# REDIS Configuration ###########################
#################################################
REDIS_HOST=redis
REDIS_PORT=6379

# the values in memory database expire after 2 minutes
REDIS_TTL_EXPIRE_TIME=120

# redis key prefixes key(prefix:<id>). Warning! Keep ':' at the end for string split
# These keys can be seen as queue identifier for each audio stream session.
# - identify the voice language
REDIS_KEY_PREFIX_LANGUAGE=audio_language:
# - recorded audio
REDIS_KEY_PREFIX_RECORD=audio_record:
# - transcription
REDIS_KEY_PREFIX_TRANSCRIPTION=audio_trans:
# - ai text response
REDIS_KEY_PREFIX_AI_TEXT=ai_text:
# - ai audio response
REDIS_KEY_PREFIX_AI_TTS=ai_tts: